@import 'jeet/jeet'
@import 'normalize'
@import 'variables'
@import 'card'

header
    width: 100%
    height: 100vh
    position: relative
    text-align: center
    background: url(../img/bg.jpg) center center no-repeat
    color: #fff
    margin-bottom: 50px
    h1
        font-size: 5rem
        margin: 0
        padding: 0
    h2
        font-size: 2rem
        margin: 10px 0

    .brand
        +j-align(both)

    .btn
        background: url(../img/arrow.png) center center no-repeat
        position: absolute
        bottom: 20px
        width: 100%
        height: 50px
        display: block
        -webkit-animation: arrow 0.5s infinite
        animation: arrow 0.5s infinite

footer, section
    +j-cf()
    width: 100%

section
    padding-top: 20px
    +j-center(95%)

footer
    padding: 40px 0
    text-align: center


=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content


+keyframes(arrow)
    0%
        bottom: 20px
    50%
        bottom: 35px
    100%
        bottom: 20px