{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><dev>event</title>

        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="brand">
                <h1> &#10094;dev&#10095;event </h1>
                <h2>Dev events by eventick</h2>
            </div>
            <a href="#cards" data-scroll class="btn"></a>
        </header>

        <section id="cards">
            {% block content %}{% endblock content %}
        </section>

        <footer>
            <span>Made with Django and Scrapy by <a href="http://github.com/guilouro/devent" target="_blank"> <i class="fa fa-github"></i>guilouro</a></span>
        </footer>
        <script src="{% static "js/smooth-scroll.min.js" %}"></script>
        <script>
            smoothScroll.init({speed:1000});
        </script>
    </body>
</html>